/* Overall Page Layout */
.contact-page {
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #0A0F1F, #08121E, #000000, #304c6b);
  color: white;
  
}

/* Large Text Section */
.text-section {
  flex: 1;
  padding: 40px;
  text-align: center;
  
}

.text-section h1 {
  font-size: 70px;
  line-height: 1.2;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* Animated Word */
.animated-word {
  display: inline-block;
  color: #000000; /* Black text */
  font-style: italic;
  text-shadow: 0 0 3px white, 0 0 5px white, 0 0 10px white, 0 0 15px white; /* White border effect */
  animation: fadeIn 2s ease-in-out infinite;
}

/* Keyframe for Word Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}


/* Form Section */
.form-section {
  width: 60%;
  margin: auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  
}

/* Form Styling */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

.contact-form h2 {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #FF69B4;
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

/* Button */
.send-button {
  padding: 15px;
  background: linear-gradient(135deg, #0A0F1F, #08121E, #000000, #304c6b);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.send-button:hover {
  background: linear-gradient(135deg, #0A0F1F, #08121E, #000000, #304c6b, #0A0F1F, #08121E, #000000, #304c6b);
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-page {
    flex-direction: column;
    padding: 20px;
  }

  .text-section,
  .form-section {
    flex: 1 1 100%;
  }

  .text-section h1 {
    font-size: 36px;
    text-align: center;
  }

  .form-section {
    width: 100%;
    margin: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* border: 1px solid red; */
  }
}
