/* Main container styling */
.errorMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; 
  }
  
  /* Error logo container */
  .error-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /* Styling the image to make it large */
  .logo-image {
    width: 80%; 
    max-width: 800px;
    height: auto; 
    object-fit: contain; 
    border-radius: 8px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  