/* Technology Items */
.tech-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
  }
  
  .tech-items button {
    border: none; /* Remove border */
    border-radius: 50px; /* Make buttons more curved */
    padding: 10px 20px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    color: #fff; /* Button text color */
    cursor: pointer;
    backdrop-filter: blur(5px); /* Add subtle blur for a glassy effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    transition: all 0.3s ease;
  }
  
  .tech-items button:hover {
    background: linear-gradient(
      145deg,
      rgba(75, 0, 130, 0.8), /* Indigo with transparency */
      rgba(255, 105, 180, 0.8), /* Pink with transparency */
      rgba(30, 58, 138, 0.8) /* Blue with transparency */
    );
    color: #fff;
    transform: scale(1.1); /* Slightly increase size on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
  }