/* Footer Styles */
.footer {
  color: #fff;
  text-align: center;
  border-radius: 90px 0px 0px 0px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Light white shadow around the border radius */
}

/* New Join Our Team Section */
.join-our-team {
  margin-top: 30px;
  text-align: center;
  padding-top: 3%;
  /* border: 1px solid red; */
}

.join-our-team h2 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

hr{
  border: 2px solid;
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

.explore-button {
  padding: 12px 30px;
  background: #FF69B4;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.explore-button:hover {
  background: #FF1493;
  transform: scale(1.05);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer-logo {
  flex: 1;
}

.footer-logo-img {
  width: 30%;
}

.footer-section {
  width: 40%;
  text-align: left;
}

.footer-section h4 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
}

.footer-social {
  margin-top: 10px;
}

.footer-social p {
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
}

.social-icons a:hover {
  color: #FF69B4;
}

.footer-info {
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-info p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 20px;
  }

  .footer-logo {
    flex: 0;
    margin-bottom: 20px;
  }

  .footer-logo-img {
    width: 50%;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-section h4 {
    font-size: 20px;
  }

  .footer-section ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .footer-social {
    margin-top: 20px;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }

  .footer-info {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }
}
